@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: black;
}

.video {
  margin-top: 2rem;
}

video {
  width: 80%;
  height: 11rem;
  border-radius: 1rem;
  position: relative;
  object-fit: cover;
  box-shadow: white 0px 0px 9px 0px;
}

.heading {
  position: absolute;
  top: 5rem;
  color: white;
  text-align: center;
  text-shadow: 5px 0px black;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 70vh;
  border-radius: 1rem;
  margin: 1rem;
  background-color: rgb(29, 51, 97);
  box-shadow: white 0px 0px 9px 0px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.todo-thought {
  color: white;
  font-size: 1.2rem;
}

.add-task {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.add-btn {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(32, 32, 86);
  color: white;
  box-shadow: white 0px 0px 5px 2px;
}

.addtask-container {
  margin: 2rem;
}

.add-todo-value {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.add-display {
  margin: 1rem;
  width: 80vh;
  border-radius: 1rem;
  background-color: rgb(32, 32, 86);
  box-shadow: white 0px 0px 9px 0px;
}

form {
  padding: 1rem;
  position: relative;
}

.display-tab {
  margin-top: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.add-input-value,
.add-date-value,
#select-priority {
  width: 70%;
  height: 1.5rem;
  outline: none;
  margin-top: 0.4rem;
  border-radius: 1rem;
  border: none;
  padding-left: 0.5rem;
}

.show-add-task-btn {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(32, 32, 86);
  color: white;
  box-shadow: white 0px 0px 5px 2px;
}

.cross-icon {
  color: white;
  position: absolute;
  right: 1rem;
}

.bg-video {
  display: flex;
  justify-content: center;
}

.lists-items {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.list-section {
  border-radius: 1rem;
  width: 120vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem;
  background-color: rgb(32, 32, 86);
}

#items-value {
  resize: none;
  background-color: rgb(32, 32, 86);
  color: white;
  border: none;
  outline: none;
  overflow: hidden;
  height: 1rem;
  margin-top: 0.3rem;
}

.edit,
.delete {
  font-size: 1.4rem;
}

button {
  background-color: rgb(32, 32, 86);
  border: none;
  color: white;
}

.edit-btn:hover {
  background-color: green;
}

.edit-btn {
  padding: 0.1rem 0.2rem;
}

.delete-btn {
  padding: 0.1rem 0.2rem;
}

.delete-btn:hover {
  background-color: red;
}

#add-value,
#add-date {
  padding-right: 0.5rem;
}
